@mixin pinnedcontainer($gridArea, $background-color) {
  border-radius: 20px;
  grid-area: $gridArea;
  background-color: $background-color;
  min-height: 200px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

@mixin backgroundImage($image, $background-color) {
  background-image: linear-gradient($background-color, $background-color),
    url($image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin blogContainer {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  padding: 130px 150px;
  border-radius: 20px;
}
