@import "abstracts/variables/fonts";
@import "abstracts/variables/colors";
@import "abstracts/mixins";

@import "sections/header";
@import "sections/pinnedSec";
@import "sections/blogContent";
@import "sections/preBlogs";
@import "sections/subscription";
@import "sections/footer";

body,
html {
  font-family: $fontFamily;
  background-color: $backgroundColor;
  color: $textColor;
  margin: 0;
  padding: 0;
}
