@mixin pinTag($bgcolor, $textColor) {
  background-color: $bgcolor;
  color: $textColor;
  margin-top: 15px;
  display: flex;
  border-radius: 12px;
  font-size: 0.7rem;
  width: 80px;
  justify-content: center;
}
